/* ========== General CSS ========= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

   
	flex-direction: column;
	
	color: #FFF;
	height: 100%;
    background-color: #202040;
}
.container{
    max-width: 450px;
    background: #150050;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    font-family: sans-serif;
    padding: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}
.Temperature-icon i{
    font-size: 45px;
    color: azure;
    background: #202040;
}
h1{
    color: #ff7d04;
    letter-spacing: 1.2px;
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
}



#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #e8dfec;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    background: transparent;
    color: #FFF;
}


/* ========== for chrome, safari, Edge, Opera =========== */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* =========== for Mozila firefox ============ */
input{
    -moz-appearance: textfield;
}


.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #4d5964;
    color: azure;
    border: 1px solid #e8dfec;
    border-radius: 0 8px 8px 0;
    background: #FF74B1;
}


.button{
    margin-top: 25px;
    text-align: center;
    
}


.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    background: #ec1839;
    color: azure;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover{
    background: #ff7d04;
    color: azure;
    transition: all .5s ease;
}




.copy-right{
    font-size: 20px;
	text-align: center;
	bottom: 0;
	margin-top: 100px;
}
.copy-right .fa-heart{
	color: red;
}
.copy-right strong{
	color: #ff7d04;
}


@media(max-width:400px)
{
    h1{
        color: #fff;
        letter-spacing: 1.2px;
        font-size: 20px;
    }
    
}